# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Distribution / packaging
.Python
build/
dist/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.pytest_cache/

# Logs
*.log

# Models and data
ml/models/
ml/data/
!ml/models/.gitkeep
!ml/data/.gitkeep

# Node
node_modules/

# OS / Editor
.DS_Store
.idea/
.vscode/
